<!--继承bootstrap提供的基模板-->
<!--在Flask后端需要创建Bootstrap对象-->
{% extends "bootstrap/base.html" %}

{% block title %}
社区信息发布系统
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">社区信息</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    <li><a href="/">社区</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a>校长</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
